# URL de conexão com o banco de dados PostgreSQL (Supabase/Neon)
DATABASE_URL="postgresql://postgres.[SEU_PROJECT_ID]:[SUA_SENHA]@aws-0-[REGIAO].pooler.supabase.com:6543/postgres?pgbouncer=true"

# Chave de API oficial do Google Gemini
GEMINI_API_KEY="AIzaSy..."

# Porta em que o servidor irá rodar (Render define isso dinamicamente)
PORT=3000

# Google OAuth IDs (Frontend)
GOOGLE_EXPO_CLIENT_ID=
GOOGLE_WEB_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
